body{
    margin:  100px 0px;
    font-family: Arial, sans-serif;
}

header{
    background-color: #333;
    color: white;
    top: 0;
    padding: 10px 0px 10px 20px;
    text-align: left;

}
aside{
    background-color: #f4f4f4;
    float: left;
    width: 20%;
    height: 100vh;
    padding: 20px;
}
main{
    margin: 5%;
    padding: 30px;
    background-color: bisque;
}
footer{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}