body{
    margin: 0px ;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

header{
    background-color: #333;
    color: white;
    top: 0;
    padding: 30px;
    text-align: left;

}
aside{
    background-color: #f4f4f4;
    float: left;
    width: 15%;
    /* height: calc(100vh - 60px); */
    height: 100vh;
    padding: 20px;
    font-size: 30px;
}
aside h2{
    background-color: gray;
    width: 100%;
    height: 50px;
    text-align: center;
}
main{

    
    margin-left: 22%;
    padding: 50px 20px;
    /* width: 90%;
    height: 90%; */
    
    text-align: center;
    /* min-height: calc(100vh - 100px); */
    box-sizing: border-box;
    
    
}
footer{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.text{
    margin-top: 2px;
}
.main-layout{
    
    text-align: center;
    /* width: 100%;
    top: 10%; */
    margin-top: 20px;
    
}
#stick1, #stick2, #stick3{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px auto;
    display: inline-block;
    border-radius: 20px;
    vertical-align: top;

}
#stick1{

    background-color: aqua;
    box-shadow: 5px 10px 5px rgb(94, 160, 160);
}
#stick2{
    background-color: rgb(230, 219, 206);
    box-shadow: 5px 10px 10px rgb(207, 190, 169);
}
#stick3{
    background-color: rgb(216, 184, 146);
    box-shadow: 5px 10px 15px rgb(199, 144, 77);
}

ul li{
    list-style-type: none;
    margin-bottom: 0px;
    background-color: rgb(190, 95, 27);
    padding: 5px 5px 5px 5px;
}

ul li:hover{
    background-color: rgb(142, 142, 183);
}
ul{
    margin: 0;
    text-align: center;
    padding: 0%;
    
}